
<div class="sliderBox fl_left">

    <a href="{:url('/file/join')}" class="sliderList" id="slider1">
        <span class="fl_left sliderOne block"></span>
        <span class="fl_left sliderTwo block iconfont icon-home"></span>
        <span class="fl_left sliderThree block">实时温湿度</span>
        <span class="clear"></span>
    </a>

<!--    <a href="{:url('/file/getlist')}?pagestyle=1" class="sliderList" id="slider2">-->
<!--        <span class="fl_left sliderOne block"></span>-->
<!--        <span class="fl_left sliderTwo block iconfont icon-container"></span>-->
<!--        <span class="fl_left sliderThree block">控制器历史数据</span>-->
<!--        <span class="clear"></span>-->
<!--    </a>-->
    <a href="{:url('/doc/getdoc')}" class="sliderList" id="slider1">
        <span class="fl_left sliderOne block"></span>
        <span class="fl_left sliderTwo block iconfont icon-detail"></span>
        <span class="fl_left sliderThree block">温湿度图示</span>
        <span class="clear"></span>
    </a>

    <!--<a href="{:url('/change/getout')}" class="sliderList" id="slider6">
        <span class="fl_left sliderOne block"></span>
        <span class="fl_left sliderTwo block iconfont icon-export"></span>
        <span class="fl_left sliderThree block">大棚管理</span>
        <span class="clear"></span>
    </a>-->

    <a href="{:url('/change/getjie')}" class="sliderList" id="slider7">
        <span class="fl_left sliderOne block"></span>
        <span class="fl_left sliderTwo block iconfont icon-export"></span>
        <span class="fl_left sliderThree block">温湿度数据</span>
        <span class="clear"></span>
    </a>

<!--    <a href="{:url('/file/receive')}" class="sliderList"  id="slider3">-->
<!--        <span class="fl_left sliderOne block"></span>-->
<!--        <span class="fl_left sliderTwo block iconfont icon-1"></span>-->
<!--        <span class="fl_left sliderThree block">温湿度折线图</span>-->
<!--        <span class="clear"></span>-->
<!--    </a>-->
    <a href="{:url('/system/setdepart')}" class="sliderList"  id="slider2">
        <span class="fl_left sliderOne block"></span>
        <span class="fl_left sliderTwo block iconfont icon-setting"></span>
        <span class="fl_left sliderThree block">系统设置</span>
        <span class="clear"></span>
    </a>
</div>