
{include file='/index/head' }
<style type="text/css">
    .layui-btn{
        height: 30px;
        line-height: 30px;
    }
    .layui-btn .layui-icon{
        font-size: 14px;
    }
    .layui-form-label{
        width: auto;
    }
    .btu-color{
        background: #f09c4e;border:none;color: #fff;
    }
</style>
<div class="contetnBox">
    {include file='layout' }
    <div class="rightBox fl_right">
        <div class="titleBox">
            {include file='setlayout' title='5' }
        </div>
        <div class="" style="background: white ; padding: 15px;">

            <div class="layui-tab">

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">

                        <table class="layui-hide" id="user_table" lay-filter="user_table">

                        </table>

                        <script type="text/html" id="doAction">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="add">添加控制器</button>
                            </div>
                        </script>
                        <script type="text/html" id="oneAction">
                            <a class="layui-btn layui-btn-xs" lay-event="chgpswd">修改密码</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var table;
    layui.use('table', function(){
        table = layui.table;

        table.render({
            elem: '#user_table'
            ,url:"{:url('/file/getlist')}"
            ,toolbar: '#doAction'
            ,defaultToolbar:['filter']
            ,title: '用户数据表'
            ,cols: [[
                {field:'id',width:'10%',title:'ID'}
                ,{field:'sensor_name',width:'25%',event:'edit1',style:'color: #1E0FBE;cursor: pointer;',  title:'控制器名称'}
                ,{field:'sensor_ip',width:'25%',event:'edit2',style:'color: #1E0FBE;cursor: pointer; ',  title:'控制器ip'}
                ,{field:'temperature',width:'20%',  title:'温度'}
                ,{field:'humidity',width:'20%',  title:'湿度'}

                ,{field:'is_delete',width:'20%',  title:'状态'}


                //,{toolbar: '#oneAction',width:'20%',  title:'操作'}
            ]]
            ,page: false
        });

        table.on('toolbar(user_table)', function(obj){
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 2,
                        title:"添加控制器",
                        area: ['400px', '500px'],
                        fixed: true, //不固定
                        maxmin: false,
                        scrollbar:false,
                        shadeClose:true,
                        content: "{:url('/system/addpart')}",
                        anim:2
                        ,end: function(index, layero){
                            window.location.reload();
                        }
                    });
                    break;
            }
        });
        table.on('tool(user_table)', function(obj){
            switch(obj.event){
                case 'edit1':
                    layer.prompt({
                        title:'编辑名称'
                        ,formType:2
                        ,value: obj.data.user_name
                    }, function(value, index){
                        $.post("{:url('/system/updateuser')}",{id:obj.data.id,type:4,value:value},function(res){
                            if(res.code == 200)
                            {
                                alert("更改成功！");
                                window.location.reload();
                            }
                        },'json');
                    });
                    break;
                case 'edit2':
                    layer.prompt({
                        title:'编辑名称'
                        ,formType:2
                        ,value: obj.data.login_name
                    }, function(value, index){
                        $.post("{:url('/system/updateuser')}",{id:obj.data.id,type:5,value:value},function(res){
                            if(res.code == 200)
                            {
                                alert("更改成功！");
                                window.location.reload();
                            }
                        },'json');
                    });
                    break;
                case 'chgpswd':
                    layer.prompt({
                        title:'修改密码'
                        ,formType:1
                        ,value: ''
                    }, function(value, index){
                        $.post("{:url('/system/updateuser')}",{id:obj.data.id,type:1,value:value},function(res){
                            if(res.code == 200)
                            {
                                alert("更改成功！");
                                window.location.reload();
                            }
                        },'json');
                    });
                    break;
                case 'del':
                    layer.confirm('确认禁用吗？禁用之后，该管理员将不可登录', function(index){
                        $.post("{:url('/system/updateuser')}",{id:obj.data.id,type:2},function(res){
                            if(res.code == 200)
                            {
                                alert("更改成功！");
                                window.location.reload();
                            }
                        },'json');
                    });
                    break;
                case 'nodel':
                    layer.confirm('确认启用吗？', function(index){
                        $.post("{:url('/system/updateuser')}",{id:obj.data.id,type:3},function(res){
                            if(res.code == 200)
                            {
                                alert("更改成功！");
                                window.location.reload();
                            }
                        },'json');
                    });
                    break;
            };
        });
    });
</script>
</body>
</html>

