
{include file='header' }
<link rel="stylesheet" type="text/css" href="__STATIC__/css/details.css">
<style type="text/css">
    .layui-btn{
        height: 30px;
        line-height: 30px;
    }
    .layui-btn .layui-icon{
        font-size: 14px;
    }
    .layui-form-label{
        width: auto;
    }
    .btu-color{
        background: #f09c4e;border:none;color: #fff;
    }
    .anjuan{
        font-size: 14px;
        background: antiquewhite;
        font-family: "Songti SC";
        box-shadow: 2px 2px 5px #888888;
        cursor: pointer;
        border-radius: 5px;
    }
    .anjuan .jp{
        padding: 20px 15px;
        text-align: right;
    }
    .anjuan .jp span{
        padding: 5px;
        border: 1px solid #000;
    }
    .anjuan .name{
        text-align: center;
        font-size: 24px;
        padding: 0 10px;
        font-weight: bold;
    }
    .anjuan .wenj{
        padding: 10px 10px 0;
    }
    .anjuan .wenj .xiahua{
        padding: 0 5px;
    }
    .action{
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #000;
        margin-top: 10px;
        font-size: 14px;
    }
    .batch{
        background: #1dc5a3;border:none;color: #fff;
    }
    .action a{
        padding: 0 5px;
    }
    .title1{
        font-weight: bold;
    }
    .layui-container{
        padding: 0 15px 0 0;
    }
    #pagediv{
        text-align: center;
    }
    #pagestyle{
        position: absolute;
        right: 50px;
        margin-top: -50px;
    }
    .thisstyle{
        background: bisque;
    }
</style>

<div class="contetnBox">

    {include file='layout' }
    <div class="rightBox fl_right">
        <div class="titleBox">
            <!--<div class="title fl_left">案卷管理</div>-->
            {include file='setfile' title='2' }
        </div>

        <div class="" style="background: white ; padding: 15px;">
            <form class="layui-form" action="{:url('/file/save')}" lay-filter="myallform">

            <fieldset class="layui-elem-field" >
                <legend>传感器基本信息</legend>

                <div class="layui-field-box">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sensor_name" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>




                        <div class="layui-inline">
                            <label class="layui-form-label">IP：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sensor_ip" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>

<!--                        <div class="layui-inline">-->
<!--                            <label class="layui-form-label">IP：</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <input type="text" name="card" id="card" lay-verify="vcard" autocomplete="off" class="layui-input">-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">大棚ID：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="green_house_id" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">地块ID： </label>
                        <div class="layui-input-inline">
                            <input type="text" name="land_id" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">状　　态：</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="is_delete" value="1" title="启用" checked="checked">
                                <input type="radio" name="is_delete" value="2" title="关闭">
                            </div>
                        </div>

                       <!-- <div class="layui-inline">
                            <label class="layui-form-label">分　　组：</label>
                            <div class="layui-input-inline">
                                <select name="grade" lay-filter="grade" lay-verify="required">
                                    <option value="" selected>请选择分组</option>
                                    {for start="(date('d'))" end="0" comparison="gt" step="-1"}
                                    <option value="{$i}" >{$i}组</option>
                                    {/for}
                                </select>
                            </div>
                        </div>

                    </div>-->

                    <!--<div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">院　　系：</label>
                            <div class="layui-input-inline">
                                <select name="depart" lay-filter="yx" id="depart" lay-verify="required">
                                    <option value="" selected>请选择院系</option>
                                    {foreach name='departlist' item='v'}
                                    <option value="{$v.id}" >{$v.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">专　　业：</label>
                            <div class="layui-input-inline">
                                <select name="major"  id="zy" lay-filter="major" lay-verify="required">
                                    <option value="">请选专业</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">年　　级：</label>
                            <div class="layui-input-inline">
                                <select name="grade" lay-filter="grade" lay-verify="required">
                                    <option value="" selected>请选择年级</option>
                                    {for start="(date('Y'))" end="1999" comparison="gt" step="-1"}
                                    <option value="{$i}" >{$i}级</option>
                                    {/for}
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">班　　级：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="class" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">民　　族：</label>
                            <div class="layui-input-inline">
                                <select name="nation" lay-filter="nation" lay-search>
                                    <option value="" selected>请选择民族</option>
                                    <option value="汉族">汉族</option>
                                    <option value="蒙古族">蒙古族</option>
                                    <option value="回族">回族</option>
                                    <option value="藏族">藏族</option>
                                    <option value="维吾尔族">维吾尔族</option>
                                    <option value="苗族">苗族</option>
                                    <option value="彝族">彝族</option>
                                    <option value="壮族">壮族</option>
                                    <option value="布依族">布依族</option>
                                    <option value="朝鲜族">朝鲜族</option>
                                    <option value="满族">满族</option>
                                    <option value="侗族">侗族</option>
                                    <option value="瑶族">瑶族</option>
                                    <option value="白族">白族</option>
                                    <option value="土家族">土家族</option>
                                    <option value="哈尼族">哈尼族</option>
                                    <option value="哈萨克族">哈萨克族</option>
                                    <option value="傣族">傣族</option>
                                    <option value="黎族">黎族</option>
                                    <option value="傈僳族">傈僳族</option>
                                    <option value="佤族">佤族</option>
                                    <option value="畲族">畲族</option>
                                    <option value="高山族">高山族</option>
                                    <option value="拉祜族">拉祜族</option>
                                    <option value="水族">水族</option>
                                    <option value="东乡族">东乡族</option>
                                    <option value="纳西族">纳西族</option>
                                    <option value="景颇族">景颇族</option>
                                    <option value="柯尔克孜族">柯尔克孜族</option>
                                    <option value="土族">土族</option>
                                    <option value="达斡尔族">达斡尔族</option>
                                    <option value="仫佬族">仫佬族</option>
                                    <option value="羌族">羌族</option>
                                    <option value="布朗族">布朗族</option>
                                    <option value="撒拉族">撒拉族</option>
                                    <option value="毛南族">毛南族</option>
                                    <option value="仡佬族">仡佬族</option>
                                    <option value="锡伯族">锡伯族</option>
                                    <option value="阿昌族">阿昌族</option>
                                    <option value="普米族">普米族</option>
                                    <option value="塔吉克族">塔吉克族</option>
                                    <option value="怒族">怒族</option>
                                    <option value="乌孜别克族">乌孜别克族</option>
                                    <option value="俄罗斯族">俄罗斯族</option>
                                    <option value="鄂温克族">鄂温克族</option>
                                    <option value="德昂族">德昂族</option>
                                    <option value="保安族">保安族</option>
                                    <option value="裕固族">裕固族</option>
                                    <option value="京族">京族</option>
                                    <option value="塔塔尔族">塔塔尔族</option>
                                    <option value="独龙族">独龙族</option>
                                    <option value="鄂伦春族">鄂伦春族</option>
                                    <option value="赫哲族">赫哲族</option>
                                    <option value="门巴族">门巴族</option>
                                    <option value="珞巴族">珞巴族</option>
                                    <option value="基诺族">基诺族</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">籍　　贯：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="native"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">宗教信仰：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="religion"  autocomplete="off" class="layui-input">

                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">政治面貌：</label>
                            <div class="layui-input-inline">
                                <select name="polity" >
                                    <option value="" selected>请选择政治面貌</option>
                                    <option value="中共党员" >中共党员</option>
                                    <option value="中共预备党员" >中共预备党员</option>
                                    <option value="共青团员" >共青团员</option>
                                    <option value="民革党员" >民革党员</option>
                                    <option value="民盟盟员" >民盟盟员</option>
                                    <option value="民建会员" >民建会员</option>
                                    <option value="民进会员" >民进会员</option>
                                    <option value="农工党党员" >农工党党员</option>
                                    <option value="致公党党员" >致公党党员</option>
                                    <option value="九三学社社员" >九三学社社员</option>
                                    <option value="台盟盟员" >台盟盟员</option>
                                    <option value="无党派人士" >无党派人士</option>
                                    <option value="群众" >群众</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">家庭住址：</label>
                        <div class="layui-input-block" style="width: 515px;">
                            <input type="text" name="address"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset class="layui-elem-field " >
                <legend>立卷信息</legend>

                <div class="layui-field-box">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">存放位置：</label>
                            <div class="layui-input-inline" style="width: 40px;">
                                <input type="text" name="weizhi1" id="weizhi1" lay-verify="vweizhi" placeholder="柜" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 40px;">
                                <input type="text" name="weizhi2" id="weizhi2"  lay-verify="vweizhi" placeholder="层" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 50px;">
                                <input type="text" name="weizhi3"  id="weizhi3"  lay-verify="vweizhi" placeholder="号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">立卷日期：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="addtime" id="addtime"  lay-verify="required|date" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">状　　态：</label>
                            <div class="layui-input-inline">
                                <select name="status" lay-filter="nj">
                                    <option value="0" selected>未接收</option>
                                    <option value="1">在档-正常</option>
                                    <option value="2">借出</option>
                                    <option value="3">已迁出</option>
                                    <option value="4">已退档</option>
                                    <option value="5">转研究生</option>
                                    <option value="6">在档-毕业暂存</option>
                                    <option value="7">在档-村官暂存</option>
                                    <option value="8">借出-室内查阅</option>
                                    <option value="9">借出-在线查阅</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>-->

            <fieldset class="layui-elem-field " >
                <legend></legend>
                <div class="layui-field-box">
                    <div class="layui-form-item" style="text-align: center">
                        <div class="layui-input-block" style="margin-left: 0px;">
                            <button class="layui-btn" lay-submit="" lay-filter="myform">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    layui.use(['form'], function(){
        var form = layui.form;
        form.on('select(yx)', function(data){
            var str = '<option value="0">请选专业</option>';
            var id = data.value; //院系id
            if(id > 0)
            {
                $.post("{:url('/system/getzy')}",{id:id},function(res){
                    var length = res.length;
                    for (var i=0;i<length;i++) {
                        str += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                    }
                    layui.$("#zy").html(str);
                    form.render();
                },'json');
            }else{
                layui.$("#zy").html(str);
                form.render();
            }

        });
        form.verify({

            vphone: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "")
                {
                    if(!/^((1[3456789][0-9])|(14[57])|(17[0678])|(19[7]))\d{8}$/.test(value)){
                        return '手机号格式错误';
                    }
                }
            }
            ,vweizhi: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "")
                {
                    if($("#weizhi1").val() == "" ||$("#weizhi2").val() == "" ||$("#weizhi3").val() == "" )
                    {
                        return '存储位置需要填写完整';
                    }
                }
            }
            ,vdate: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "")
                {
                    if(!/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/.test(value)){
                        return '日期格式错误';
                    }
                }

            }
            ,vxue: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!/^[0-9]{14}$/.test(value)){
                    return '学号格式错误，长度14位';
                }
            }
            ,vcard: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "")
                {
                    if(!/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/.test(value)){
                        return '身份证格式错误';
                    }else{
                        if(!IdentityCodeValid(value))
                        {
                            return '身份证格式校验有误';
                        }else{
                            var ic = String(value);
                            var birth = ic.substring(6, 10) + "-" + ic.substring(10, 12) + "-" + ic.substring(12, 14);
                            var gender = ic.slice(14, 17) % 2 ? "男" : "女"; // 1代表男性，2代表女性
                            $("#brithday").val(birth);
                            $("input[name='sex'][value="+gender+"]").attr("checked",true);
                            form.render('radio', 'myallform');

                        }
                    }
                }

            }
        });

        $("#card").blur(function () {
            var value   = $(this).val();
            if(value != "")
            {
                if(!/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/.test(value)){
                    layer.msg("身份证格式错误");
                }else{
                    if(!IdentityCodeValid(value))
                    {
                        layer.msg("身份证格式校验有误");
                    }else{
                        var ic = String(value);
                        var birth = ic.substring(6, 10) + "-" + ic.substring(10, 12) + "-" + ic.substring(12, 14);
                        var gender = ic.slice(14, 17) % 2 ? "男" : "女"; // 1代表男性，2代表女性
                        $("#brithday").val(birth);
                        $("input[name='sex'][value="+gender+"]").attr("checked",true);
                        form.render('radio', 'myallform');

                    }
                }
            }

        });


    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#brithday' //指定元素
            ,value: '1999-09-10'
            ,isInitValue: false //是否允许填充初始值，默认为 true
        });
        laydate.render({
            elem: '#addtime' //指定元素
        });
    });
</script>
</body>
</html>